*{
  box-sizing: border-box;

}
/* Creo un div colocando el alto,el relleno y el margen.*/
div{
  height:100px;
  padding:10px;
  margin:10px;
}

.yellow{
  background-color: rgb(250,180,20);

}

.black{
  background-color: #000;
  color: #fff;
}
